@inherits LayoutComponentBase
@inject IJSRuntime JS
@using Dozday.Services.Services
@inject GlobalStorageService GlobalStorageService
@inject AuthGuard AuthGuard
@inject NavigationManager Navigation
@implements IDisposable

<div class="page">

    <div class="top-nav">
        <NavMenu/>
    </div>

    <main>
        <GlobalErrorBoundary>
            <article class="content">
                @Body
            </article>
        </GlobalErrorBoundary>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await AuthGuard.CheckAsync();

            Navigation.LocationChanged += OnLocationChanged;
        }
    }

    private async void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        await AuthGuard.CheckAsync();
    }

    public void Dispose()
    {
        Navigation.LocationChanged -= OnLocationChanged;
    }
}