<div style="display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 1.5rem;">
    <div class="loading-wrapper">
        <img class="loading-indicator" src="/icons/LogoSolo.png" alt="Loading..."/>
        <img class="loading-indicator delay-1" src="/icons/LogoSolo.png" alt=""/>
        <img class="loading-indicator delay-2" src="/icons/LogoSolo.png" alt=""/>
    </div>
    <p class="wave">
        <span>З</span>
        <span>А</span>
        <span>В</span>
        <span>А</span>
        <span>Н</span>
        <span>Т</span>
        <span>А</span>
        <span>Ж</span>
        <span>Е</span>
        <span>Н</span>
        <span>Н</span>
        <span>Я</span>
    </p>
</div>
