.admin-body {
    height: calc(100svh - 50px);
    width: 100%;
    background: #fff;
    overflow: hidden;
    scroll-behavior: smooth;
    padding: 15px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.admin-pages {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex: 1;
    overflow: hidden;
}

.admin-column {
    flex: 1;
    height: 100%;
    width: 100%;
}
.admin-tabs-pages {
    display: flex;
    gap: 10px;
    overflow-x: auto;
}