@page "/help"
@using Dozday.Core.Models
@using Markdig
@using Dozday.Core.Interfaces
@inject IQualityAndAssuranceService QualityAndAssuranceService
@attribute [StreamRendering]

<PageTitle>Допомога</PageTitle>

<div class="help-bg">
    <div class="help-body @(IsLoading() ? "help-body--loading" : "")">
        @if (qualityAndAssurances is null)
        {
            <LoadingIndicator/>
        }
        else
        {
            <div class="help-list">
                @if (qualityAndAssurances.Count == 0)
                {
                    <p>Немає інформації для відображення.</p>
                }
                else {
                    @foreach (var qa in qualityAndAssurances)
                    {
                        <div>
                            <button type="button" class="collapsible @(IsSectionOpen(qa.Id) ? "active" : string.Empty)"
                                    @onclick="() => ToggleSection(qa.Id)">@qa.Tittle</button>
                            <div class="content" style="display:@(IsSectionOpen(qa.Id) ? "block" : "none")">
                                <div class="markdown-body">@((MarkupString)ToHtml(qa.AssuranceMarkdown))</div>
                            </div>
                        </div>
                    }
                }
            </div>
        }
    </div>
</div>

@code {
    private List<QualityAndAssurance>? qualityAndAssurances;
    private readonly HashSet<Guid> openedSections = [];

    private static readonly MarkdownPipeline MarkdownPipeline = new MarkdownPipelineBuilder()
        .UsePipeTables()
        .Build();

    protected override async Task OnInitializedAsync()
    {
        qualityAndAssurances = (await QualityAndAssuranceService.GetAllAsync()).ToList();
    }

    private void ToggleSection(Guid sectionId)
    {
        if (!openedSections.Add(sectionId))
        {
            openedSections.Remove(sectionId);
        }
    }

    private bool IsSectionOpen(Guid sectionId)
    {
        return openedSections.Contains(sectionId);
    }

    private static string ToHtml(string? markdown)
    {
        return Markdown.ToHtml(markdown ?? string.Empty, MarkdownPipeline);
    }

    private bool IsLoading()
    {
        return qualityAndAssurances is null;
    }

}